<form #form="ngForm" (ngSubmit)="onSubmit(form)" ngNativeValidate>
  <label for="n">N: </label>
  <input id="n" type="number" min="1" max="1999" required [ngModel]="n" name="n" />

  <label for="y">Y: </label>
  <input id="y" type="number" min="1" max="3999999" [ngModel]="y" name="y" required />

  <label for="z">Z: </label>
  <input id="z" type="number" min="1" max="4" [ngModel]="z" name="z" required /><br /><br />
  <button type="submit" [disabled]="!form.valid">Start</button>
</form>
<table>
  <tr *ngFor="let item  of numberToArray(matrixSize)">
    <td *ngFor="let i of numberToArray(matrixSize)">
      <app-tile [countdown]="z" (stateChange)="onStateChange($event)"></app-tile>
    </td>
  </tr>
</table>