<label for="n">N: </label>
<input id="n" type="number" min="1" max="100" [(ngModel)]="n" placeholder="Enter size of grid..." />

<label for="y">Y: </label>
<input id="y" type="number" [(ngModel)]="y" placeholder="Number of columns to be colored..." />

<label for="z">Z: </label>
<input id="z" type="number" [(ngModel)]="z" placeholder="Enter time..." />
<button (click)="restart()">Restart</button>


<table>
  <tr *ngFor="let item  of numberToArray(matrixSize)">
    <td *ngFor="let i of numberToArray(matrixSize)">
      <app-tile [countdown]="z" (stateChange)="onStateChange($event)"></app-tile>
    </td>
  </tr>
</table>
<h2>Empty all the yellow boxes by clicking on them!</h2>
<section class="overlay">

</section>