:host{
    display: block;
    text-align: center;
    

    input[type=number]{
        padding: .2rem;
        border: 2px solid brown;
    }

    button{
        font-weight: 700;
        padding: .4rem 1.4rem; background-color: #D9A869;
        border: 2px solid brown;

        &:disabled{
            opacity: .6;
        }
    }

    table{
        border-collapse: collapse;
        margin: 1rem auto;
        border: 5px solid brown;
        background-clip: border-box;
    }
}